[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
requests = "*"
flask-restx = "*"
gunicorn = "*"
python-dotenv = "*"
flask-caching = "*"
redis = "*"
pymongo = "*"
mongoengine = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
requests-mock = "*"

[requires]
python_version = "3.7"
